.leaflet-top.leaflet-right {
  top: 25px;
  right: 35px;
}

.leaflet-top.leaflet-left {
  top: 165px;
  left: 35px;
}

.leaflet-left .leaflet-control {
  margin-left: 5px;
  margin-top: 70px;
  padding: 0;
}

.leaflet-bar {
  box-shadow: none;
  border-radius: 0;
  background: rgba(241,238,232,0.50);
  border: 2px solid #74716E;
}

.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: transparent;
  color: #74716E;

  border-bottom: 2px solid #74716E;

  line-height: 35px;
  width: 35px;
  height: 35px;
}

.leaflet-bar a:last-child {
  border-bottom: none;
}

.leaflet-control-layers-list {
  background-color: rgb(237,237,237);
  width: 200px;
  padding-right: 27px;
  opacity: 0.9;
}

.satellite-layer .leaflet-control-layers-list {
  opacity: 0.6;
}

.leaflet-control-layers-expanded {
  background: transparent;
  box-shadow: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.leaflet-control-layers-group-name {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px 0 15px 17px;
  width: 100%;
  display: block;
  overflow: hidden;
}

.leaflet-control-layers-separator {
  display: none;
}

.leaflet-control-layers-expanded label span:hover {
  color: #AC2641;
  cursor: pointer;
}

.leaflet-control-layers-expanded label input[type="radio"]:checked ~ span:hover {
  color: #000;
}

.leaflet-control-layers-selector ~ span {
  color: #000;
  opacity: 0.6;
  text-shadow: 0 0 2px white;
}

.leaflet-control-layers-expanded label span:hover,
.leaflet-control-layers-selector:checked ~ span {
  opacity: 1;
}

.leaflet-control-layers-selector {
  position: relative;
  width: 14px;
  height: 14px;
  margin-right: 10px;

  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  background: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  -moz-outline-radius: 0;
}

.leaflet-control-layers-selector:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 1px solid rgba(120,116,113,0.6);
  width: 4px;
  height: 4px;
}

.satellite-layer .leaflet-control-layers-selector:after {
  border: 1px solid rgba(120,116,113,1);
}

.leaflet-control-layers-selector:checked:after {
  background-color: #000;
}

.leaflet-control-layers-selector[type="radio"]:after {
  border-radius: 50%;
}

.leaflet-control-layers-selector:focus {
  outline: none;
  -moz-outline-radius: 0;
}
