.leaflet-top.leaflet-right {
  top: 25px;
  right: 35px;
}

.leaflet-top.leaflet-left {
  top: 165px;
  left: 35px;
}

.leaflet-left .leaflet-control {
  margin-left: 0;
}

.leaflet-bar {
  box-shadow: none;
  border: 1px solid rgba(120,116,113,0.8);
  border-radius: 0;
}

.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: transparent;
  color: rgba(120,116,113,0.8);

  border-bottom: 1px solid rgba(120,116,113,0.8);

  line-height: 35px;
  width: 35px;
  height: 35px;
}

.leaflet-bar a:hover {
  background-color: rgba(244,244,244,0.8);
}

.leaflet-bar a:last-child {
  border-bottom: none;
}

.leaflet-control-layers-expanded {
  background: transparent;
  box-shadow: none;
  text-transform: uppercase;
  font-weight: bold;
}
