.malaria-legend {
  list-style-type: none;
  margin-left: 17px;
  margin-bottom: 5px;
  width: 100%;
}

.malaria-legend li {
  display: inline-block;
  width: 20%;
  text-align: center;

  opacity: 1;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0.69px;
  text-shadow: 0px 0px 4px #FFFFFF;
}

.leaflet-control-layers-expanded label .malaria-legend li span:hover {
  color: #000;
  cursor: auto;
  opacity: 0.5;
}

.malaria-legend li span {
  opacity: 0.5;
}

.lst.m1 {
  background-color: #EEB429;
}

.lst.m2 {
  background-color: #EAD38D;
}

.lst.m3 {
  background-color: #E8EAE5;
}

.lst.m4 {
  background-color: #BEC4EA;
}

.lst.m5 {
  background-color: #8592EE;
}

.ndwi.m1 {
  background-color: #BC8B55;
}

.ndwi.m2 {
  background-color: #D6C4AA;
}

.ndwi.m3 {
  background-color: #E8EAE5;
}

.ndwi.m4 {
  background-color: #BDCEE8;
}

.ndwi.m5 {
  background-color: #85AAEA;
}

.ndvi.m1 {
  background-color: #BC8B55;
}

.ndvi.m2 {
  background-color: #E8EAE5;
}

.ndvi.m3 {
  background-color: #BFD9B8;
}

.ndvi.m4 {
  background-color: #82C075;
}

.ndvi.m5 {
  background-color: #59AE49;
}

.elevation.m1 {
  background-color: #AE9765;
}

.elevation.m2 {
  background-color: #CFC7AE;
}

.elevation.m3 {
  background-color: #E8EAE5;
}

.elevation.m4 {
  background-color: #C5D1BD;
}

.elevation.m5 {
  background-color: #739B5F;
}

.waterbodiesdistance.m1 {
  background-color: #19A0AC;
}

.waterbodiesdistance.m2 {
  background-color: #4CB6BD;
}

.waterbodiesdistance.m3 {
  background-color: #8ECBCE;
}

.waterbodiesdistance.m4 {
  background-color: #BBDBDA;
}

.waterbodiesdistance.m5 {
  background-color: #E8EAE5;
}

.malaria-legend li.malariarisk span,
.malaria-legend li.malariariskresampled span,
.malaria-legend li.casedata span,
.leaflet-control-layers-expanded label .malaria-legend li.casedata span:hover,
.leaflet-control-layers-expanded label .malaria-legend li.malariariskresampled span:hover,
.leaflet-control-layers-expanded label .malaria-legend li.malariarisk span:hover {
  color: white;
  opacity: 1;
  text-shadow: none;
}

.malariarisk.m1,
.malariariskresampled.m1 {
  background-color: #A91005;
}

.malariarisk.m2,
.malariariskresampled.m2 {
  background-color: #000;
}

.casedata.m1 {
  background-color: #A53ED5;
}

.casedata.m2 {
  background-color: #1F78B4;
}

.citiesindanger {
  background-color: #C9C100;
  border-radius: 100%;
  margin-right: 15px;
  position: relative;
  text-indent: -9999px;
}

.citiesindanger.m1 {
  width: 10px;
  height: 10px;
  top: 7px;
}

.citiesindanger.m2 {
  width: 20px;
  height: 20px;
  top: 2px;
}

.citiesindanger.m3 {
  width: 25px;
  height: 25px;
}
