* {
  font-family: 'Bebas Neue', Helvetica, Arial, sans-serif;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

h1 {
  font-size: 122px;
  color: #AC2641;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  line-height: 95px;
  width: 360px;

  position: absolute;
  left: 35px;
  top: 25px;

  z-index: 3;
}

.overlay {
  pointer-events: none;
  background: url(../img/paper-tile.png) repeat;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: .5;
}
