* {
  font-family: 'Bebas Neue', Helvetica, Arial, sans-serif !important;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

h1 {
  font-size: 60px;
  color: rgba(178, 18, 13, 0.9);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;

  width: 340px;

  position: absolute;
  left: 35px;
  top: 25px;

  z-index: 3;
}
